<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.dltk.ruby.testing.launchConfig">
<stringAttribute key="mainScript" value="app/GeoLocation/controller.rb"/>
<stringAttribute key="nature" value="org.eclipse.dltk.ruby.core.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/rhodes-system-api-samples"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.dltk.testing.CONTAINER" value=""/>
<stringAttribute key="project" value="rhodes-system-api-samples"/>
</launchConfiguration>
